/* Loader animation */

@keyframes lds-bars {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.lds-bars {
  display: flex;
  justify-content: space-between;
}
.lds-bars div {
  width: 18%;
  height: 100%;
  -webkit-animation: lds-bars 1s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  animation: lds-bars 1s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}
.lds-bars div:nth-child(1) {
  background: #878787;
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
.lds-bars div:nth-child(2) {
  background: #b6b6b6;
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
.lds-bars div:nth-child(3) {
  background: #d8d8d8;
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.lds-bars div:nth-child(4) {
  background: #c7c7c7;
}
.lds-bars {
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}

/* Paragraph fade */

.paragraph-enter {
  opacity: 0;
}
.paragraph-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.paragraph-exit {
  opacity: 1;
}
.paragraph-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
